@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to gain additional information.</p>

<div>
    <h4>Do some additional stalking in...</h4>
    <p><a href="https://www.linkedin.com/in/vasja-%C3%A7ollaku-a81b95159/">LinkedIn account</a></p>
    <p><a href="https://www.facebook.com/vasjacollaku">Facebook account</a></p>
    <p><a href="https://www.instagram.com/vasjacollaku/">Instagram account</a></p>
</div>
