@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vasagatan 40<br />
    Vasteras <br />
    72215 <br />
    Sweden <br />
    <abbr title="Phone">P:</abbr>
    0769979661
</address>


<address>
    <strong>Email:</strong>   <a href="mailto:vasja.collaku@fti.edu.al">Vasja.Collaku@fti.edu.al</a><br />
</address>


